.container {
	width: 1052px;
	margin: 0 auto;
}
.logo {
	vertical-align: middle;
    margin-top: 30px;
    margin-right: 60px;
}
.footer {
	margin-right: 30px;
	vertical-align: middle;
	display: inline-block;
}
.stick-2 {
	display: inline-block;
	margin-right: 18px;
	width: 2px;
	height: 50px;
	background-color: #5012D5;
	vertical-align: bottom;
}
.re {
	color: #4E6FAE;
}
#yt {
	margin-left: 10px;
}
.box {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-size: 24px;
	padding: 12px;
	margin-top: 44px;
	margin-bottom: 18px;
}
.gfont-1 {
	margin-bottom: 8px;
    color: #8D81FF;
    font-family: FiraGO;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.gfont-2 {
    color: #4E6FAE;
    font-family: FiraGO;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	display: block;
	margin-bottom: 15px;
}
.bot {
	margin-bottom: 8px;
}
.hot {
	margin-bottom: 2px;
}
.min {
	display: inline-block;
	margin-right: 20px;
	margin-top: 0px;
	height: 200px;
	width: 280px;
}
.gfont-3 {
    color: #4E6FAE;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	width: 745px;
	height: 150px;
	display: inline-block;
	vertical-align: top;
}
.gfont-4 {
    color: #4E6FAE;
    font-family: FiraGO;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	width: 710px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}
nav, ul, li, a {
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;
	vertical-align: bottom;
	margin-right:20px;
    display: inline-block;
}
#b1 {
    margin-top: 138px;
}
.foot {
    margin: 145px 0px 285px;
}
.foot1 {
    margin: 91px 0 193px;
}
.foot2 {
    margin: 104px 0 180px;
}
#ex {
    display: block;
    margin-top: 32px;
    width: 1021px;
    height: 148px;
}
.card, .card1 {
    background-color: #e7e7e7;
    width: 500px;
    height: 192px;
    display: inline-block;
}
.card1 {
    margin-left: 48px;
}
.incard1 {
    color: #3F4145;
    font-family: Helvetica Neue LT GEO;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 307px;
    margin: 21px 0px 20px 23px;
}
.search, .search1 {
    display: inline-block;
    vertical-align: top;
}
.search {
    margin: 9px 37px 0px 36px;
}
.search1 {
    margin: 3px 21px 0px 38px;
}
.incard2 {
    color: #7E8898;
    font-family: Helvetica Neue LT GEO;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    width: 335px;
    height: 95px;
    vertical-align: top;
}
.ban {
	margin: 85px 0 120px;
}
.info-div {
	margin-bottom: 26px;
}
.a {
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	margin-right: 18px;
    vertical-align: middle;
}
.stick {
	display: inline-block;
	margin-right: 18px;
	width: 2px;
	height: 30px;
	background-color: #5012D5;
	vertical-align: middle;
}
.b { 
	display:inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
    vertical-align: middle;
}
.mndi {
    background-color: #E7E7E7;
	height: 700px;
    margin-top: 33px;
}
.con {
	display: inline-block;
	vertical-align: top;
}
.mn {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #4E6FAE;
	margin-top: 123px;
}
.gr {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #7E8898;
	display: inline-block;
}
.bl {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
	display: inline-block;
}
.cont {
	margin-top: 23px;
}
#di {
	margin-left: 90px;
}
.map {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 130px;
	margin-left: 29px;
    width: 512px;
}